* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* outline: 1px solid red; */
	font-family: Arial, Helvetica, sans-serif;
}
body {
	overflow: hidden;
}
/* * game lobby */

.game_lobby {
	position: fixed;
	width: 100%;
	height: 100vh;
	display: grid;
	place-items: center;
	backdrop-filter: blur(2px);
	z-index: 4;
}
.game_lobby .center_window {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.game_lobby .game_name {
	font-size: 3rem;
	font-weight: bold;
	color: white;
	filter: drop-shadow(0 0.125rem 0.25rem #1b1b1bc8);
}
.game_lobby .game_options {
	display: flex;
	gap: 30px;
	justify-content: center;
	align-items: center;
}
.game_lobby button {
	all: unset;
	cursor: pointer;
}

/* * Setting */

.game_setting{
	position: fixed;
	width: 100%;
	height: 100vh;
	display: none;
	place-items: center;
	backdrop-filter: blur(2px);
	z-index: 4;
}
.game_setting .center_window{
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.game_setting .setting_title{
	font-size: 3rem;
	font-weight: bold;
	color: white;
	filter: drop-shadow(0 0.125rem 0.25rem #1b1b1bc8);
}
.game_setting .setting_options_list{
	display: flex;
	flex-direction: column;
	background-color: white;
	padding: 10px;
	border-radius: 3px;
	gap: 10px;
}
.game_setting .setting_options{
	display: flex;
	gap: 10px;
	align-items: center;
}
.game_setting .options_title{
	font-weight: bold;
}
.game_setting .setting_option_choice{
	padding: 5px;
}
.game_setting .setting_save{
	all: unset;
	cursor: pointer;
}
/* * canvas */
#gameCanvas {
	background-image: url(./imgs/objects/backgrounds/skys/sky.jpg);
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
}
.wrap_frame {
	position: relative;
	height: 100vh;
}
.game_over {
	width: 100%;
	height: 100%;
	position: absolute;
	display: none;
	place-items: center;
	color: white;
	backdrop-filter: blur(2px);
	user-select: none;
	z-index: 2;
}
.game_over .message {
	display: flex;
	flex-direction: column;
	align-items: center;
	filter: drop-shadow(0 0.125rem 0.25rem #1b1b1bc8);
}
.game_over .message .over {
	font-size: 3rem;
}
.game_over .message .replay {
	font-size: 1.5rem;
	display: flex;
	gap: 10px;
}
.game_over .key_jump {
	font-weight: bold;
}
.scores_table {
	position: absolute;
	display: block;
	font-size: 1rem;
	color: white;
	display: flex;
	gap: 3px;
	padding: 3px;
	user-select: none;
	z-index: 3;
	filter: drop-shadow(0 0.125rem 0.25rem #1b1b1bc8);
}
.ground {
	position: absolute;
	width: 100%;
	height: 35px;
	bottom: 0;
	z-index: 1;
	background-image: url(./imgs/objects/backgrounds/grounds/ground_01.png);
	background-size: contain;
	background-repeat: repeat;
	animation: move-back 10000ms infinite linear;
}
.ground.stop {
	animation: unset;
}
.next_ground {
	left: 100%;
}
@keyframes move-back {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(-100%);
	}
}
